.skills-section {
  display: flex;
  padding: 149.33px 85.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 106.667px
}

.skills-section-heading {
  font-size: 64px;
  font-weight: 700px;
  line-height: 77px;
}
