body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
  background-size: cover;
}

/* HOME SECTION */

.home {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.img-card {
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin-top: 4.5em;
  margin-left: 7em;
}

.img-card > img {
  max-height: 65%;
  height: 65vh;
  border-radius: 0.5em;
}

.section-title {
  padding: 7px;
}

.home-section-title {
  margin-bottom: 30px;
}

.home-section-content {
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/* SKILLS SECTION */
.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skill-card {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 1em;
  width: 200px;
}

/* ABOUT ME */


/* PORTFOLIO */
