body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
  background-size: cover;
}

/* HOME SECTION */

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

/* SKILLS SECTION */


/* ABOUT ME */


/* PORTFOLIO */
