body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
  background-size: cover;
}

/* HOME SECTION */

.home {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.home > img {
  max-height: 100%;
  height: 100vh;
}

.section-title {
  padding: 7px;
}

.home-section-title {
  margin-bottom: 30px;
}
/* SKILLS SECTION */


/* ABOUT ME */


/* PORTFOLIO */
